{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
  <h1>Les PROCHAINS FILMS AU CINEMA</h1>
<div class="containere">

{% for item in publicite %}
    <div class="cardi">
      <div class="imgBx">
        <img src="/film/{{item.image}}" alt="">
      </div>
      <div class="contenta">
        <div>
          
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>

 

   
    {% endfor %}

  </div>
     
{% endblock %}
