{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
 <div class="container">
{% for item in publicite %}
  <div class="d-lg-flex">
    <div class="car">
  <div class="care">
   
    <img class="" src="/film/{{item.image}}" alt="">
    <p class="care-desc">{{item.description}}</p>
  </div>
 
  
</div>
</div>
            {% endfor %}
        </div>

        
{% endblock %}
